<%= render 'layouts/navigation' %>
<div class="row">

  <div class="col-sm-6 col-sm-offset-3">
    <% current_user.feed.each do |feed_item| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-sm-2">
                <%= image_tag render_profile_picture(feed_item), class: "img-responsive img-circle",
                              alt: "#{render_username(feed_item)} image" %>
              </div>
              <div class="col-sm-8">
                <h5 class="text-left"><%= link_to render_username(feed_item), "https://instagram.com/#{render_username(feed)}" %></h5>
                <!-- <p class="text-left"><%= link_to render_username(feed_item), "https://instagram.com/#{render_username(feed)}" %></p> -->
              </div>
            </div>
          </div>
          <div class="panel-body">
            <a href="#" data-toggle="modal" data-target="#photo-<%= feed_item.id %>">
              <%= image_tag feed_item.images.standard_resolution.url, class: "img-responsive",
                            alt: "#{current_user.name} image" %>
            </a>
          </div>
          <div class="panel-footer">
            <% if feed_item.likes.count > 4 %>
                <p> <%= feed_item.likes.count %> likes</p>
            <% else %>
                <% feed_item.likes.data.each do |username| %>
                    <%= link_to username.username, "https://instagram.com/#{username.username}" %>
                <% end %>
                like this
            <% end %>


            <p> <%= render_text(feed_item) %> </p>
            <hr>
            <div class="row">
              <div class="col-sm-1" id="heart">
                <i class="fa fa-heart-o fa-lg"></i>
              </div>
              <div class="col-sm-9" id="comment">
                <input type="text" class="form-control" placeholder="Comment ...">
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div id="photo-<%= feed_item.id %>" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title"><%= render_username(feed_item) %></h1>
              </div>
              <div class="modal-body">
                <%= image_tag feed_item.images.standard_resolution.url, class: "img-responsive",
                              alt: "#{render_username(feed_item)} image" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> <!-- end of Modal -->
    <% end %>
  </div>
</div>