<!-- Navigation -->
<nav id="home-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-left" href="<%= root_path %>">InstantGram</a>
      <% if current_user %>
          <a id="my-feed" class="navbar-brand navbar-left" href="<%= dashboard_feed_path %>">My Feed</a>
      <% end %>
      <% if current_user %>
          <a id="my-profile" class="navbar-brand navbar-left" href="<%= profile_path if current_user%>">My Profile</a>
      <% end %>
      <div id="tag-search" class="navbar-form navbar-left">
        <%= render partial: 'layouts/form' %>
      </div>
      <div id="user-search" class="navbar-form navbar-left">
        <%= render partial: 'layouts/user_form' %>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
          <li>
            <%= link_to "Trending Posts", dashboard_popular_path %>
          </li>
          <li>
            <%= link_to "Logout", logout_path %>
          </li>
      <% else %>
          <li>
            <a href="<%= login_path %>">Login</a>
          </li>
      <% end %>
    </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>